@charset "utf-8";

/*
	Web Design
	Prd 1 / Tobey
	
	La Porte High School -{ Styling
	Author:	Jacob Day
	Date:	04/15/2019
	
	File Name:	styles.css
*/

/* comment */

html {
	background-color: #FF6600;
}

a {
	color: #0074bb;
	text-decoration: none;
}

header {
	height: 90px;
	width: 100%;
	background-color: #1F1F1F;
	display: block;
	position: relative;
}

.lp-logo {
	height: 90%;
	width: 10%;
	position: left;
}

.lp-word {
	padding-left: 10%;
	color: white;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	color: #3d3d3d;
	background-color: #fff;
}

/* .thinstrip .lp-logo {
	display: block;
	position: absolute;
	top: -22px;
	left: 0;
	/* text-indent: -9999px; 
	width: 163px;
	height: 90px;
	/* background: url(assets/img/lp-patch.jpg) no-repeat 0 0  transparent;
	z-index: 1;
}
*/

/* .lp-word {
	display: block;
	position: absolute;
	top: 12px;
	left: 150px;
	text-indent: -9999px;
	width: 330px;
	height: 24px;
	background: url(assets/img/lp-word.jpg) no-repeat 0 -431px transparent;
}
*/

footer {
	background-color: #1F1F1F;
	color: white;
	font-size: 1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
