@charset "utf-8";

/*
	Web Design
	Prd 1 / Tobey
	
	La Porte High School -{ iframe Styling
	Author:	Jacob Day
	Date:	05/01/2019
	
	File Name:	iframe.css
*/

.iframe-background {
  background: url('../img/citygame.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.iframe-container {
  background-color: rgba(31,31,31,0.8);
  padding: 20px 0;
}

.iframe {
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
	height: 500px;
}

.iframe iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.iframe #header {
  font-size: 1.3em;
  text-align: center;
  color: white;
  position: relative;
}

.iframe #header:before, .iframe #header:after {
  content: "";
  height: 1px;
  width: 330px;
  bottom: 13px;
  display: block;
  position: absolute;
  background-color: rgba(255,255,255,0.2);
}

.iframe #header:before {
  left: 240px;
}

.iframe #header:after {
  right: 240px;
}

.admin-column {
	padding: 0 20px;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	height: 100%;
}


